<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Amino Acids</title>
		<style>
		.stickmodel {	
 position: relative;
      animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}


@keyframes spinner {

      0%    {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px);}
      50%	{transform: rotateX(30deg) rotateY(30deg) rotateZ(180deg) translateZ(50px);}
      100%   {transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg) translateZ(0px);}
     
  }



</style>
	</head>
	<body>
	
		{{{ body }}}
	</body>
</html>